table {
    width: 100%;
}

th,
td {
    height: 50px;
    border: 1px solid black;
    text-align: center;
}

.index{
    width:100%;
    margin:auto auto auto auto;
    font-size:large;
}

.update{
    text-align:center;
}